<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PressureSensorCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PressureSensorCheck.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="CertificateNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReportNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Slot1Type" serializeAs="String">
                <value>Current</value>
            </setting>
            <setting name="Slot2Type" serializeAs="String">
                <value>Pressure</value>
            </setting>
            <setting name="Slot1Index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Slot2Index" serializeAs="String">
                <value>1</value>
            </setting>
        </PressureSensorCheck.Properties.Settings>
    </userSettings>
</configuration>