*.suo
src/KIPer/KIPer/obj/
src/KIPer/KIPer/bin/
src/KIPer/MineLoop/bin/
src/KIPer/MineLoop/obj/
src/KIPer/Drivers/PACE5000/obj/
src/KIPer/Controls/PressureElementControls/bin/
src/KIPer/Drivers/PACE5000/bin/
src/KIPer/Controls/PressureElementControls/obj/
src/KIPer/EmulationComPort/obj/
src/KIPer/Emulation/ComPortEmulation/obj/
src/KIPer/Emulation/ComPortEmulation/bin/
src/KIPer/SetupKipTM/bin/
src/KIPer/SetupKipTM/obj/
src/KIPer/Archive/SQLiteArchive/obj/
src/KIPer/Archive/SQLiteArchive/bin/
doc/ADTS-405_403/Thumbs.db
src/KIPer/ADTS/obj/
src/KIPer/IEEE488Transport/obj/
src/KIPer/ADTS/bin/
src/KIPer/IEEE488Transport/bin/
src/KIPer/UnitTestPACESeries/bin/
src/KIPer/UnitTestPACESeries/obj/
src/KIPer/IEEE488UnitTest/bin/
src/KIPer/IEEE488UnitTest/obj/
src/KIPer/KipTM.sln.DotSettings.user
src/KIPer/IEEE488Terminal/obj/
src/KIPer/IEEE488Terminal/bin/
src/KIPer/Drivers/PACEVISADriver/obj/
src/KIPer/VISAConsole/bin/
src/KIPer/Drivers/PACEVISADriver/bin/
src/KIPer/VISAConsole/obj/
src/KIPer/Drivers/PACE1000VisaTest/obj/
src/KIPer/Drivers/PACE1000VisaTest/bin/
src/KIPer/Drivers/VisaDriver/obj/
src/KIPer/Drivers/VisaDriver/bin/
src/KIPer/DeviceManager/obj/
src/KIPer/Drivers/PACESeries/bin/
src/KIPer/Drivers/PACESeries/obj/
src/KIPer/ArchiveData/bin/
src/KIPer/ArchiveData/obj/
src/KIPer/Reports/ReportService/obj/
src/KIPer/Reports/ReportService/bin/
src/KIPer/Reports/ReportAdts/obj/
src/KIPer/Reports/ReportAdts/bin/
src/KIPer/ADTSData/bin/
src/KIPer/ADTSData/obj/
src/KIPer/ADTSChecks/obj/
src/KIPer/CheckFrame/obj/
src/KIPer/SerialiserTest/obj/
src/KIPer/SerialiserTest/bin/
*.user
src/KIPer/Tools/bin/
src/KIPer/Tools/obj/
src/KIPer/MarkerService/bin/
src/KIPer/MarkerService/obj/
src/KIPer/LogicTest/obj/
src/KIPer/LogicTest/bin/
src/KIPer/TestReport/bin/
src/KIPer/TestReport/obj/
src/KIPer/Tools.View/obj/
src/KIPer/KipTM.Interfaces/obj/
src/KIPer/KipTM.Interfaces/bin/
src/KIPer/ADTSChecks/bin/
src/KIPer/Tools.View/bin/
src/KIPer/_ReSharper.KipTM/
src/KIPer/CheckFrame/bin/
