<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Dpi620Test" />
  </extensions>
  <!--<targets>
    <target
      name="file"
      xsi:type="File"
      encoding="utf-16"
      fileName="${specialfolder:folder=CommonDocuments}/Sparc/Logs/KPK5/${shortdate}/${shortdate}_${logger}.txt"
      archiveAboveSize="1048576"
      archiveEvery ="Day"
      keepFileOpen="true"
      layout="${time}:${message}"/>
    --><!--${newline}--><!--
  </targets>-->

  <targets>
    <target xsi:type="NlogViewer" name="ctrl" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ctrl" />
  </rules>

</nlog>