<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables.wxi ?>
  <Product Id="$(var.ProductId)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" AdminImage="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Property Id="Shortcut" Value="$(var.ProductName).lnk" />
    <Feature Id="ProductFeature" Title="KipTM" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ReportsComponents" />
      <ComponentGroupRef Id="x64Components" />
      <ComponentGroupRef Id="x86Components" />
      <ComponentRef Id="Shortcuts" />
      <ComponentRef Id="DesktopShortcuts" />
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="ApplicationFolder"/>
    <!--<UIRef Id="WixUI_InstallDir" />-->
    <UIRef Id="WixUI_Custom" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">
          <Directory Id="ApplicationFolder" Name="$(var.ProductName)">
            <Directory Id="ReportFolder" Name="Reports"/>
            <Directory Id="x64Folder" Name="x64"/>
            <Directory Id="x86Folder" Name="x86"/>
          </Directory>
        </Directory>
        <Directory Id="ProgramMenuFolder">
          <Directory Id="ShortcutApplicationFolder" Name="$(var.ProductName)" />
        </Directory>
        <Directory Id="DesktopFolder" Name="Desktop"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ShortcutApplicationFolder">
      <Component Id="Shortcuts" Guid="750ceee7-d47c-48e1-bba2-f8d5014014a0">
        <Shortcut Id="ShortcutSparcKipTM" Name="$(var.ProductName)" Description="Start KipTM Application" Target="[ApplicationFolder]KipTM.exe" WorkingDirectory="ApplicationFolder" />
        <!--<Shortcut Id="ShortcutSparcKpk5HardwareCertification" Name="Kpk5 Certification" Description="Start Certification Kpk5" Target="[ApplicationFolder]test.exe" WorkingDirectory="ApplicationFolder" />-->
        <RemoveFolder Id="RemoveShortcut" Directory="ShortcutApplicationFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="ShortcutsInstalled" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcuts" Guid="EB7E95ED-42F5-4257-8B7E-FAB622466898">
        <Shortcut Id="DesctopShortcutKipTM" Name="$(var.ProductName)" Description="Start KipTM Application" Target="[ApplicationFolder]KipTM.exe" WorkingDirectory="ApplicationFolder" />
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="DesktopShortcutsInstalled" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="ApplicationFolder">
      <ComponentRef Id="Shortcuts" />
      <ComponentRef Id="DesktopShortcuts" />
      <Component Guid="2A4FCD63-6FA2-4156-BFFD-2420D3B72A80">
        <File Name="$(var.KipTM.TargetFileName)" Source="$(var.KipTM.TargetPath)" KeyPath="yes" />
        <File Name="$(var.KipTM.TargetName).pdb" Source="$(var.KipTM.TargetDir)$(var.KipTM.TargetName).pdb" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="$(var.KipTM.TargetFileName).config" Source="$(var.KipTM.TargetDir)$(var.KipTM.TargetFileName).config" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="icon-metrology.png" Source="$(var.KipTM.TargetDir)Content\icon-metrology.png" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="System.Windows.Interactivity.dll" Source="$(var.KipTM.TargetDir)System.Windows.Interactivity.dll" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="StructureMap.dll" Source="$(var.KipTM.TargetDir)StructureMap.dll" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.KipTM.TargetDir)Microsoft.Practices.ServiceLocation.dll" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="Microsoft.Practices.ServiceLocation.pdb" Source="$(var.KipTM.TargetDir)Microsoft.Practices.ServiceLocation.pdb" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="Microsoft.Practices.ServiceLocation.xml" Source="$(var.KipTM.TargetDir)Microsoft.Practices.ServiceLocation.xml" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="GalaSoft.MvvmLight.Platform.dll" Source="$(var.KipTM.TargetDir)GalaSoft.MvvmLight.Platform.dll" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="GalaSoft.MvvmLight.Extras.dll" Source="$(var.KipTM.TargetDir)GalaSoft.MvvmLight.Extras.dll" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="GalaSoft.MvvmLight.dll" Source="$(var.KipTM.TargetDir)GalaSoft.MvvmLight.dll" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="Ivi.Visa.Interop.dll" Source="$(var.KipTM.TargetDir)Ivi.Visa.Interop.dll" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="Nlog.config" Source="$(var.KipTM.TargetDir)Nlog.config" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="NLog.dll" Source="$(var.KipTM.TargetDir)NLog.dll" CompanionFile="$(var.KipTM.TargetFileName)"/>
        <File Name="NLog.xml" Source="$(var.KipTM.TargetDir)NLog.xml" CompanionFile="$(var.KipTM.TargetFileName)"/>
      </Component>
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-924B28DD5A2A">
        <File Name="$(var.ADTS.TargetFileName)" Source="$(var.ADTS.TargetPath)" KeyPath="yes" />
        <File Name="$(var.ADTS.TargetName).pdb" Source="$(var.ADTS.TargetDir)$(var.ADTS.TargetName).pdb" CompanionFile="$(var.ADTS.TargetFileName)"/>
      </Component>
      <Component Guid="2E1987B5-D7E6-47E2-AF5B-924B28DD5A2A">
        <File Name="$(var.ADTSData.TargetFileName)" Source="$(var.ADTSData.TargetPath)" KeyPath="yes" />
        <File Name="$(var.ADTSData.TargetName).pdb" Source="$(var.ADTSData.TargetDir)$(var.ADTSData.TargetName).pdb" CompanionFile="$(var.ADTSData.TargetFileName)"/>
      </Component>
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-924B28DD5A3A">
        <File Name="$(var.ArchiveData.TargetFileName)" Source="$(var.ArchiveData.TargetPath)" KeyPath="yes" />
        <File Name="$(var.ArchiveData.TargetName).pdb" Source="$(var.ArchiveData.TargetDir)$(var.ArchiveData.TargetName).pdb" CompanionFile="$(var.ArchiveData.TargetFileName)"/>
      </Component>
      <!--<Component Guid="2E1987B5-D7E6-47E7-AF5B-924B284D5A3A">
        <File Name="$(var.ReportAdts.TargetFileName)" Source="$(var.KipTM.TargetDir)Reports\$(var.ReportAdts.TargetFileName)" KeyPath="yes" />
        <File Name="$(var.ReportAdts.TargetName).pdb" Source="$(var.KipTM.TargetDir)Reports\$(var.ReportAdts.TargetName).pdb" CompanionFile="$(var.ReportAdts.TargetFileName)"/>
      </Component>-->
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-324B28DD5A3A">
        <File Name="$(var.ReportService.TargetFileName)" Source="$(var.ReportService.TargetPath)" KeyPath="yes" />
        <File Name="$(var.ReportService.TargetName).pdb" Source="$(var.ReportService.TargetDir)$(var.ReportService.TargetName).pdb" CompanionFile="$(var.ReportService.TargetFileName)"/>
      </Component>
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-924B28DD5A4A">
        <File Name="$(var.IEEE488.TargetFileName)" Source="$(var.IEEE488.TargetPath)" KeyPath="yes" />
        <File Name="$(var.IEEE488.TargetName).pdb" Source="$(var.IEEE488.TargetDir)$(var.IEEE488.TargetName).pdb" CompanionFile="$(var.IEEE488.TargetFileName)"/>
      </Component>
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-924B28DD5A6A">
        <File Name="$(var.VisaDriver.TargetFileName)" Source="$(var.VisaDriver.TargetPath)" KeyPath="yes" />
        <File Name="$(var.VisaDriver.TargetName).pdb" Source="$(var.VisaDriver.TargetDir)$(var.VisaDriver.TargetName).pdb" CompanionFile="$(var.VisaDriver.TargetFileName)"/>
      </Component>
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-924B28DD5A7A">
        <File Name="$(var.SQLiteArchive.TargetFileName)" Source="$(var.SQLiteArchive.TargetPath)" KeyPath="yes" />
        <File Name="$(var.SQLiteArchive.TargetName).pdb" Source="$(var.SQLiteArchive.TargetDir)$(var.SQLiteArchive.TargetName).pdb" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="System.Data.SQLite.dll" Source="$(var.SQLiteArchive.TargetDir)System.Data.SQLite.dll" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="System.Data.SQLite.pdb" Source="$(var.SQLiteArchive.TargetDir)System.Data.SQLite.pdb" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="System.Data.SQLite.xml" Source="$(var.SQLiteArchive.TargetDir)System.Data.SQLite.xml" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="System.Data.SQLite.EF6.dll" Source="$(var.SQLiteArchive.TargetDir)System.Data.SQLite.EF6.dll" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="System.Data.SQLite.EF6.pdb" Source="$(var.SQLiteArchive.TargetDir)System.Data.SQLite.EF6.pdb" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="System.Data.SQLite.EF6.xml" Source="$(var.SQLiteArchive.TargetDir)System.Data.SQLite.EF6.xml" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="System.Data.SQLite.Linq.dll" Source="$(var.SQLiteArchive.TargetDir)System.Data.SQLite.Linq.dll" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="System.Data.SQLite.Linq.pdb" Source="$(var.SQLiteArchive.TargetDir)System.Data.SQLite.Linq.pdb" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="System.Data.SQLite.Linq.xml" Source="$(var.SQLiteArchive.TargetDir)System.Data.SQLite.Linq.xml" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <!--<File Name="x64SQLite.Interop.dll" Source="$(var.SQLiteArchive.TargetDir)x64\SQLite.Interop.dll" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="x64SQLite.Interop.pdb" Source="$(var.SQLiteArchive.TargetDir)x64\SQLite.Interop.pdb" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="x86SQLite.Interop.dll" Source="$(var.SQLiteArchive.TargetDir)x86\SQLite.Interop.dll" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
        <File Name="x86SQLite.Interop.pdb" Source="$(var.SQLiteArchive.TargetDir)x86\SQLite.Interop.pdb" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>-->
      </Component>
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-924B28DD5A1A">
        <File Name="$(var.MainLoop.TargetFileName)" Source="$(var.MainLoop.TargetPath)" KeyPath="yes" />
        <File Name="$(var.MainLoop.TargetName).pdb" Source="$(var.MainLoop.TargetDir)$(var.MainLoop.TargetName).pdb" CompanionFile="$(var.MainLoop.TargetFileName)"/>
      </Component>
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-124B28DD5A2A">
        <File Name="$(var.Tools.TargetFileName)" Source="$(var.Tools.TargetPath)" KeyPath="yes" />
        <File Name="$(var.Tools.TargetName).pdb" Source="$(var.Tools.TargetDir)$(var.Tools.TargetName).pdb" CompanionFile="$(var.Tools.TargetFileName)"/>
      </Component>
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-127B28DD5A2A">
        <File Name="$(var.ADTSChecks.TargetFileName)" Source="$(var.ADTSChecks.TargetPath)" KeyPath="yes" />
        <File Name="$(var.ADTSChecks.TargetName).pdb" Source="$(var.ADTSChecks.TargetDir)$(var.ADTSChecks.TargetName).pdb" CompanionFile="$(var.ADTSChecks.TargetFileName)"/>
      </Component>
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-124B28DD5A2A">
        <File Name="$(var.CheckFrame.TargetFileName)" Source="$(var.CheckFrame.TargetPath)" KeyPath="yes" />
        <File Name="$(var.CheckFrame.TargetName).pdb" Source="$(var.CheckFrame.TargetDir)$(var.CheckFrame.TargetName).pdb" CompanionFile="$(var.CheckFrame.TargetFileName)"/>
      </Component>
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-164B28DD5A2A">
        <File Name="$(var.MarkerService.TargetFileName)" Source="$(var.MarkerService.TargetPath)" KeyPath="yes" />
        <File Name="$(var.MarkerService.TargetName).pdb" Source="$(var.MarkerService.TargetDir)$(var.MarkerService.TargetName).pdb" CompanionFile="$(var.MarkerService.TargetFileName)"/>
      </Component>
      <Component Guid="44623CF8-CAEF-474A-AC50-21020572B436">
        <File Name="$(var.PressureElementControls.TargetFileName)" Source="$(var.PressureElementControls.TargetPath)" KeyPath="yes" />
        <File Name="$(var.PressureElementControls.TargetName).pdb" Source="$(var.PressureElementControls.TargetDir)$(var.PressureElementControls.TargetName).pdb" CompanionFile="$(var.PressureElementControls.TargetFileName)"/>
      </Component>
      <Component Guid="F3764C78-E33A-449D-8A42-781341CC1156">
        <File Name="$(var.PACESeries.TargetFileName)" Source="$(var.PACESeries.TargetPath)" KeyPath="yes" />
        <File Name="$(var.PACESeries.TargetName).pdb" Source="$(var.PACESeries.TargetDir)$(var.PACESeries.TargetName).pdb" CompanionFile="$(var.PACESeries.TargetFileName)"/>
      </Component>
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="x64Components" Directory="x64Folder">
      <Component Guid="6E1987B5-D7E6-47E7-AF5B-924B28DD5A7A">
        <File Name="x64SQLite.Interop.dll" Source="$(var.SQLiteArchive.TargetDir)x64\SQLite.Interop.dll" KeyPath="yes"/>
        <File Name="x64SQLite.Interop.pdb" Source="$(var.SQLiteArchive.TargetDir)x64\SQLite.Interop.pdb" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="x86Components" Directory="x86Folder">
      <Component Guid="2E1287B5-D7E6-47E7-AF5B-924B28DD5A7A">
        <File Name="x86SQLite.Interop.dll" Source="$(var.SQLiteArchive.TargetDir)x86\SQLite.Interop.dll" KeyPath="yes"/>
        <File Name="x86SQLite.Interop.pdb" Source="$(var.SQLiteArchive.TargetDir)x86\SQLite.Interop.pdb" CompanionFile="$(var.SQLiteArchive.TargetFileName)"/>
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ReportsComponents" Directory="ReportFolder">
      <Component Guid="2E1987B5-D7E6-47E7-AF5B-924B284D5A3A">
        <File Name="$(var.ReportAdts.TargetFileName)" Source="$(var.KipTM.TargetDir)Reports\$(var.ReportAdts.TargetFileName)" KeyPath="yes" />
        <File Name="$(var.ReportAdts.TargetName).pdb" Source="$(var.KipTM.TargetDir)Reports\$(var.ReportAdts.TargetName).pdb" CompanionFile="$(var.ReportAdts.TargetFileName)"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>